 .bookItem {
    color: gray;
    font-size: 30px;
    cursor: pointer;
} 
 .bookItem1 {
    color: gray;
    font-size: 30px;
    cursor: pointer;
    float: right;
} 

#baniere{
    height:taille_fixe px;
    width:100%;
    }
     
    #baniere_gauche{
    width:50%;
    height:100%;
    float:left;
    }
     
    #baniere_droite{
    width:50%;
    height:100%;
    float:right;

    }